@using AdminAssistant.Blog.Models.DomainModel
@model List<CategoryViewModel>

<div class="sidebar-section category-area">
    <h4 class="title"><b class="light-color">Categories</b></h4>

    <div class="row">
        <div class="col-md-12">
            @foreach (var category in Model)
            {
                <a class="category" href="/Blog/PostByCategory?category=@category.Id">
                    <input type="button" class="btn btn-primary" id="category_@category.Id" value="@category.Name" style="margin-right: 5px" />
                </a>
            }
        </div>
    </div>
</div><!-- sidebar-section category-area -->