@{
    ViewData["Title"] = "Newsletter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AdminAssistant.Blog.Models.DomainModel
@model UserNewsletterViewModel

<div class="container" style="margin-top: 200px; margin-bottom: 100px;">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>All subscribed users</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="example" class="display table table-striped table-bordered" style="width:100%; margin-top: 20px">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Subscribe Date</th>
                        <th>Category</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>Email</td>
                        <td>Subscribe Date</td>
                        <th>Category</th>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin-bottom: 20px;margin-top: 40px">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-3">
                    <button id="sendEmailButton" class="btn btn-success" data-target="#sentEmailModal" data-toggle="modal">Send email</button>
                </div>
                <div class="col-md-3">
                    <button id="enterCategoryButton" class="btn btn-primary" data-toggle="modal" data-target="#enterCategoryModal" onclick="Admin.openEnterCategoryModal()">Enter Category</button>
                </div>
                <div class="col-md-4">
                    <button id="deleteSubscriberButton" class="btn btn-danger" data-toggle="modal" data-target="#deleteSubscriberModal" onclick="Admin.openDeleteSubscribeModal()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sentEmailModal" tabindex="-1" role="dialog" aria-labelledby="sendEmailTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPostTitle">Send emails to selected users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Title">Subject: </label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="Title" id="subjectInput" />
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6">
                            <label for="Body">Body: </label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-control" id="bodyInput"></div>
                            <input type="text" name="Body" id="bodyInputValue" hidden="hidden" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="submitSendEmails">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSubscriberModal" tabindex="-1" role="dialog" aria-labelledby="deleteSubscriberTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addNewPostTitle">Delete subscribers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Do you want to continue with deleting following subscribers?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="Title">Subscribers: </label>
                        </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <label style="background-color: gray; color:white;border-radius: 4px; padding: 5px" id="listOfDeleteSubscribers"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal" onclick="Admin.clearLabels()">Close</button>
                <button class="btn btn-primary" id="submitDeletingSubscribers" onclick="Admin.deleteSubcribers()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enterCategoryModal" tabindex="-1" role="dialog" aria-labelledby="enterCategoryTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enterCategoryTitle">Enter category to selected users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Enter the category which you want to add: </label>
                            <input class="form-control col-md-4" type="text" id="categoryNameToAdd" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn btn-primary" id="submitEnterCategoryButton" onclick="Admin.updateUserCategory()">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/lib/datatable/datatable.js"></script>
    <script type="text/javascript" src="~/lib/datatable/datatable-checkbox.min.js"></script>
    <script>
        $(document).ready(function () {

            Admin.initSubscribersTable();

            $("#example").on('change', "input[type='checkbox']", function (e) {

                var email = e.currentTarget.parentElement.parentElement.cells[2].innerText;

                if (e.currentTarget.checked) {

                    Admin.listOfSubscribers.push(email);
                }
                else {

                    for (var i = 0; i < Admin.listOfSubscribers.length; i++) {
                        if (Admin.listOfSubscribers[i] === email) {
                            Admin.listOfSubscribers.splice(i, 1);
                            i--;
                        }
                    }
                }
            });

            $("#submitSendEmails").on('click', function () {

                $(".note-icon-code").click();
                var inputValue = $(".note-codable")[0].value;
                console.log(inputValue);

                $("#bodyInputValue").val(inputValue);

                Admin.sendMail();
            });
        });
    </script>
}