<div class="sidebar-section newsletter-area" style="margin-top: 30px; border-radius: 10px">
    <h5 class="title"><b>Subscribe to our newsletter</b></h5>
    <form action="post">
        <input class="email-input" type="text" placeholder="Your email here">
        <button class="btn category-btn" type="submit">Subscribe</button>
    </form>
</div>