<div class="sidebar-section newsletter-area" style="margin-top: 30px; border-radius: 10px">
    <h5 class="title"><b>Subscribe to our newsletter</b></h5>
    <form action="/Blog/Subscribe" method="post" >
        <input class="email-input" name="email" type="text" placeholder="Your email here">
        <button class="btn btn-white" type="submit">Subscribe</button>
    </form>
</div>