
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using AdminAssistant.Blog.Models.DomainModel
@model PageViewModel

    <div class="about-container">
        <div class="text-about row" style="text-align: center;">
            <div class="col-md-12">
                <div class="row">
                    <div class="text-width">
                        @Html.Raw(Model.Text)
                    </div>
                    <div>
                        <img src="~/img/about.png" class="img-fluid" style="width: 60%">
                    </div>
                </div>
            </div>
        </div>
    </div>

<style>
    .about-container {
        position: relative;
        text-align: center;
        color: white;
        height: 1200px;
    }

    .text-about {
        position: absolute;
        top: 7%;
        left: 5%;
    }

    .text-width {
        color: black;
    }

    .text {
        color: black;
        font-size: 1.4vw;
        text-align: justify;
    }

      @@media (max-width: 1100px) {
        .about-container {
            height: 1000px;
        }
    }

    @@media (max-width: 796px) {
        .text {
            font-size: 1.5vw;
        }
        .about-container {
            height: 800px;
        }
    }

    @@media (max-width: 600px) {
        .text {
            font-size: 1.8vw;
        }
         .about-container {
            height: 800px;
        }
    }

    @@media (max-width: 480px) {
        .text {
            font-size: 2vw;
        }
         .about-container {
            height: 400px;
        }
    }

    @@media (max-width: 400px) {
        .text {
            font-size: 2.2vw;
        }
           .about-container {
            height: 400px;
        }
    }

    @@media (max-width: 320px) {
        .text {
            font-size: 2.4vw;
        }
           .about-container {
            height: 400px;
        }
    }

    @@media (min-width: 320px) {
        .text-width {
            color: white;
            flex: 0 0 50%;
            max-width: 50%;
            font-size: 2.4vw;
        }
    }

    main {
        background-color: white;
    }
</style>