@{
    ViewData["Title"] = "Home Page";
}


<div class="main-slider">
    <div id="slider">

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/1.jpg" class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                <a class="btn" href="#">Explore</a>
                <h3 class="title"><b>Interested in Laws? You're in the right place!</b></h3>
                <h6>29 October, 2019</h6>
            </div>

        </div><!-- ls-slide -->

        <div class="ls-slide" data-ls="bgsize:cover; bgposition:50% 50%; duration:4000; transition2d:104; kenburnsscale:1.00;">
            <img src="~/img/slider/3.jpg" class="ls-bg" alt="" />

            <div class="slider-content ls-l" style="top:60%; left:30%;" data-ls="offsetyin:100%; offsetxout:-50%; durationin:800; delayin:100; durationout:400; parallaxlevel:0;">
                <h3 class="title"><b>Subscribe to our newsletter</b></h3>
                <h6>29 October, 2019</h6>
                <br />
                <a class="btn" href="#">Subscribe</a>
            </div>

        </div><!-- ls-slide -->

    </div><!-- slider -->
</div><!-- main-slider -->


<section class="section blog-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">

                    <div class="single-post">
                        <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                        <div class="icons">
                            <div class="left-area">
                                <p class="date"><em>Friday, December 13, 2019</em></p>
                            </div>
                            <ul class="right-area social-icons">
                                <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                            </ul>
                        </div>

                        <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                        <p>
                            Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                            Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                            paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                        </p>
                        <div class="icons">
                            <div class="left-area">
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                            </div>
                        </div>
                        <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                    </div><!-- single-post -->

                    <div class="single-post">
                        <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                        <div class="icons">
                            <div class="left-area">
                                <p class="date"><em>Friday, December 13, 2019</em></p>
                            </div>
                            <ul class="right-area social-icons">
                                <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                            </ul>
                        </div>

                        <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                        <p>
                            Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                            Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                            paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                        </p>
                        <div class="icons">
                            <div class="left-area">
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                            </div>
                        </div>
                        <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                    </div><!-- single-post -->

                    <div class="row">

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                                <div class="icons">
                                    <div class="left-area">
                                        <p class="date" style="font-size: 0.9em"><em>Friday, December 13, 2019</em></p>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                        <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                        @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                                    </ul>
                                </div>
                                <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                                <p>
                                    Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                                    Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                                    paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                                </p>
                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                                    </div>
                                </div>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div><!-- single-post -->
                        </div><!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                                <div class="icons">
                                    <div class="left-area">
                                        <p class="date" style="font-size: 0.9em"><em>Friday, December 13, 2019</em></p>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                        <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                        @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                                    </ul>
                                </div>
                                <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                                <p>
                                    Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                                    Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                                    paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                                </p>
                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                                    </div>
                                </div>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div><!-- single-post -->
                        </div><!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                                <div class="icons">
                                    <div class="left-area">
                                        <p class="date" style="font-size: 0.9em"><em>Friday, December 13, 2019</em></p>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                        <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                        @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                                    </ul>
                                </div>
                                <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                                <p>
                                    Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                                    Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                                    paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                                </p>
                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                                    </div>
                                </div>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div><!-- single-post -->
                        </div><!-- col-sm-6 -->

                        <div class="col-lg-6 col-md-12">
                            <div class="single-post">
                                <div class="image-wrapper"><img src="~/img/posts/post13122019.jpg" alt="Blog Image"></div>
                                <div class="icons">
                                    <div class="left-area">
                                        <p class="date" style="font-size: 0.9em"><em>Friday, December 13, 2019</em></p>
                                    </div>
                                    <ul class="right-area social-icons">
                                        <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                        <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                        @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                                    </ul>
                                </div>
                                <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                                <p>
                                    Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                                    Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                                    paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                                </p>
                                <div class="icons">
                                    <div class="left-area">
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                        <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                                    </div>
                                </div>
                                <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                            </div><!-- single-post -->
                        </div><!-- col-sm-6 -->

                        <div class="col-lg-12 col-md-12">
                            <div class="single-post post-style-2">
                                <div class="image-wrapper width-50 left-area">
                                    <img src="~/img/posts/post13122019.jpg" alt="Blog Image">
                                </div>
                                <div class="post-details width-50 right-area">
                                    <div class="icons">
                                        <div class="left-area">
                                            <p class="date" style="font-size: 0.9em"><em>Friday, December 13, 2019</em></p>
                                        </div>
                                        <ul class="right-area social-icons">
                                            <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                            <li><a href="#"><i class="ion-android-favorite-outline"></i>Copy Link</a></li>
                                            @* <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>*@
                                        </ul>
                                    </div>
                                    <h3 class="title"><a href="#"><b class="light-color">Paušalci, spremite se za test, od Nove godine nova pravila</b></a></h3>
                                    <p>
                                        Informatičari, glumci, taksisti i svi ostali koji rade kao paušalci za Novu godinu mogli bi da se iznenade.
                                        Ako budu usvojene izmene zakona, kompanije više neće moći da one koje angažuju puno radno vreme plaćaju preko
                                        paušalne agencije. U zamenu, Vlada nudi poreske olakšice kompanijama ako ih prime u radni odnos.
                                    </p>
                                    <div class="icons">
                                        <div class="left-area">
                                            <a class="btn btn-sm caegory-btn" href="#"><b>Tag 1</b></a>
                                            <a class="btn btn-sm caegory-btn" href="#"><b>Tag 2</b></a>
                                            <a class="btn btn-sm caegory-btn" href="#"><b>Tag 3</b></a>
                                            <a class="btn btn-sm caegory-btn" href="#"><b>Tag 4</b></a>
                                        </div>
                                    </div>
                                    <a class="btn read-more-btn" href="#"><b>READ MORE</b></a>
                                </div><!-- post-details -->

                            </div><!-- single-post -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->

                    <a class="btn load-more-btn" target="_blank" href="#">LOAD OLDER POSTS</a>

                </div><!-- blog-posts -->
            </div><!-- col-lg-4 -->


            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">

                    @*<div class="sidebar-section about-author center-text">
                            <div class="author-image"><img src="images/author-1-200x200.jpg" alt="Autohr Image"></div>

                            <ul class="social-icons">
                                <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                            </ul> right-area

                            <h4 class="author-name"><b class="light-color">Cristine Smith</b></h4>
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                dolore magnam aliquam quaerat voluptatem.
                            </p>

                            <div class="signature-image"><img src="images/signature-image.png" alt="Signature Image"></div>
                            <a class="read-more-link" href="#"><b>READ MORE</b></a>

                        </div>sidebar-section about-author

                        <div class="sidebar-section src-area">

                            <form action="post">
                                <input class="src-input" type="text" placeholder="Search">
                                <button class="src-btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                            </form>

                        </div><!-- sidebar-section src-area --> *@

                    @*<div class="sidebar-section newsletter-area">
                            <h5 class="title"><b>Subscribe to our newsletter</b></h5>
                            <form action="post">
                                <input class="email-input" type="text" placeholder="Your email here">
                                <button class="btn btn-2" type="submit">SUBSCRIBE</button>
                            </form>
                        </div>*@<!-- sidebar-section newsletter-area -->
                    @*<div class="sidebar-section Tag-area">
                            <h4 class="title"><b class="light-color">Categories</b></h4>
                            <a class="Tag" href="#">
                                <img src="images/Tag-1-400x150.jpg" alt="Tag Image">
                                <h6 class="name">TRAVEL</h6>
                            </a>

                            <a class="Tag" href="#">
                                <img src="images/Tag-2-400x150.jpg" alt="Tag Image">
                                <h6 class="name">FASHION</h6>
                            </a>

                            <a class="Tag" href="#">
                                <img src="images/Tag-3-400x150.jpg" alt="Tag Image">
                                <h6 class="name">LIFESTYLE</h6>
                            </a>
                            <a class="Tag" href="#">
                                <img src="images/Tag-4-400x150.jpg" alt="Tag Image">
                                <h6 class="name">DESIGN</h6>
                            </a>
                        </div>*@<!-- sidebar-section Tag-area -->

                    <div class="sidebar-section tags-area">
                        <h4 class="title"><b class="light-color">Tags</b></h4>
                        <ul class="tags">
                            <li><a class="btn" href="#">Tag 1</a></li>
                            <li><a class="btn" href="#">Tag 2</a></li>
                            <li><a class="btn" href="#">Tag 3</a></li>
                            <li><a class="btn" href="#">Tag 4</a></li>
                            <li><a class="btn" href="#">Tag 5</a></li>
                            <li><a class="btn" href="#">Tag 6</a></li>
                            <li><a class="btn" href="#">Tag 7</a></li>
                        </ul>
                    </div><!-- sidebar-section tags-area -->

                    <div class="sidebar-section latest-post-area">
                        <h4 class="title"><b class="light-color">Latest Posts</b></h4>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="~/img/posts/post13122019.jpg" alt="Tag Image"></div>
                            <div class="post-info">
                                <h5><a href="#"><b class="light-color">One more night in the clubs</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <a class="btn btn-sm" href="#" style="padding: 5px 10px;">Explore</a>

                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="~/img/posts/post13122019.jpg" alt="Tag Image"></div>
                            <div class="post-info">
                                <h5><a href="#"><b class="light-color">Travel lights in winter</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <a class="btn Tag-btn" href="#" style="padding: 5px 10px;">Explore</a>

                            </div>
                        </div>
                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="~/img/posts/post13122019.jpg" alt="Tag Image"></div>
                            <div class="post-info">
                                <h5><a href="#"><b class="light-color">How to travel with no money</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <a class="btn Tag-btn" href="#" style="padding: 5px 10px;">Explore</a>

                            </div>
                        </div>

                        <div class="latest-post" href="#">
                            <div class="l-post-image"><img src="~/img/posts/post13122019.jpg" alt="Tag Image"></div>
                            <div class="post-info">
                                <h5><a href="#"><b class="light-color">Smile 10 times a day</b></a></h5>
                                <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                <a class="btn btn-sm Tag-btn" href="#" style="padding: 5px 10px;">Explore</a>

                            </div>
                        </div>

                    </div><!-- sidebar-section latest-post-area -->
                    @*<div class="sidebar-section advertisement-area">
                            <h4 class="title"><b class="light-color">Advertisement</b></h4>
                            <a class="advertisement-img" href="#">
                                <img src="images/advertise-1-400x500.jpg" alt="Advertisement Image">
                                <h6 class="btn btn-2 discover-btn">DISCOVER</h6>
                            </a>
                        </div>*@<!-- sidebar-section advertisement-area -->
                    @*<div class="sidebar-section instagram-area">
                            <h4 class="title"><b class="light-color">Instagram</b></h4>
                            <ul class="instagram-img">
                                <li><a href="#"><img src="images/instragram-side-1-150x150.jpg" alt="Instagram Image"></a></li>
                                <li><a href="#"><img src="images/instragram-side-2-150x150.jpg" alt="Instagram Image"></a></li>
                                <li><a href="#"><img src="images/instragram-side-3-150x150.jpg" alt="Instagram Image"></a></li>
                                <div class="clearfix"></div>
                                <li><a href="#"><img src="images/instragram-side-4-150x150.jpg" alt="Instagram Image"></a></li>
                                <li><a href="#"><img src="images/instragram-side-5-150x150.jpg" alt="Instagram Image"></a></li>
                                <li><a href="#"><img src="images/instragram-side-6-150x150.jpg" alt="Instagram Image"></a></li>
                            </ul>
                        </div>*@<!-- sidebar-section instagram-area -->




                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->