@{
    ViewData["Title"] = "Privacy Policy";
}
@using AdminAssistant.Blog.Models.DomainModel
@model PageViewModel

    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text text-dark">Privacy Policy</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-12" style="font-family:Arial">
                @Html.Raw(Model.Text)
            </div>
        </div>
    </div>