@{
    ViewData["Title"] = "Privacy & Policy";
}

    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text text-dark">Privacy & Policy</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-12" style="font-family:Arial">
                <h5>
                    <b>1. About this Policy</b>
                </h5>
                <br />
                <h5 style="text-align: justify">
                    This Policy sets out the most important details related to the processing of your personal data when you visit this website.
                    The controller of your personal information is PrivacyOneStop incorporated under the laws of Republic of Serbia
                    and with the registration number 65679523 and the tax number 111812623. If you wish to contact us, you may write
                    to <a href="mailto:privacy@privacyonestop.com">privacy@privacyonestop.com</a>.
                </h5>
                <br />
                <h5><b>2. Your Rights</b></h5>
                <br />
                <h5 style="text-align: justify">
                    The Serbian Data Protection and similar laws give individuals certain rights.
                    As we aim to increase awareness about data protection, help companies understand what their obligations are,
                    and how to be more compliant with privacy laws, we don’t forget our obligations under the data protection laws.
                    Below points describe rights you can enjoy if your personal data is processed by us.
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right of access</b> – you have the right to be informed how we process your personal data.
                    You may request access to the personal data we process about you.
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right to rectification</b> – you have the right to amend or update your personal data;
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right to object</b> – you have the right to object to us processing your personal data and we will cease such processing
                    if the conditions laid down by the law are met;
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right to erasure</b> – you have the right to request that we delete your personal data where applicable;
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right to restrict</b> – you have the right to request that we stop processing your personal data;
                </h5>
                <br />
                <h5 style="text-align: justify; margin-left: 50px;">
                    &bull; <b>Right to data portability</b> – you have to right to have your data transmitted to another controller.
                </h5>
                <br />
                <h5>
                    Visit the contact us section to find out how you can contact us.
                </h5>
                <br />
                <h5><b> 3. Legal Basis for Using Your Personal Data</b></h5>
                <br />
                <h5 style="text-align: justify">
                    We may use your email address if you subscribe to receiving our newsletter. We will base such processing on consent,
                    and you may always object to such processing either by clicking on the unsubscribe link at the bottom of every email,
                    or by writing to us. By objecting to receiving marketing emails you do not affect the lawfulness of such processing prior
                    to objecting to receiving marketing emails.
                </h5>
                <br />
                <h5 style="text-align: justify">
                    We might send you marketing communications which are tailored to your interests
                    (e.g. if you would like to hear about specific privacy topics). We will do that based on legitimate interest.
                    If you would like to object, you may write to us, and we will start sending you general communications,
                    until you decide to unsubscribe.
                </h5>
                <br />
                <h5 style="text-align: justify">
                    If you write to us, we will process email correspondence and related attachments on a basis of legitimate interest.
                    By doing so we do not override your interest, as we may use such correspondence only in specific cases,
                    such as defence from legal claims.
                </h5>
                <br />
                <h5 style="text-align: justify">
                    We may process some personal data for invoicing and similar purposes.
                </h5>
                <br />
                <h5 style="text-align: justify">
                    Some of your personal data may be stored for longer periods of time.
                    Read Retaining Your Personal Data to find out criteria used to determine that.
                </h5>
                <br />
                <h5><b>4. Sharing Your Personal Data</b></h5>
                <br />
                <h5 style="text-align: justify">
                    We will share your personal data with our hosting provider – eUKhost, which acts as our processor,
                    and is based in the UK which is deemed as an adequate country by the EU Commission.
                </h5>
                <br />
                <h5><b>5. Retaining Your Personal Data</b></h5>
                <br />
                <h5 style="text-align: justify">
                    We will retain your email address collected for marketing purposes as long as you are subscribed to our newsletter.
                    If you unsubscribe, we will delete your email address from our database.
                </h5>
                <br />
                <h5 style="text-align: justify">
                    In case that you write to us, or we have your personal data on our invoices we will keep such personal data longer,  
                    on a basis of legitimate interest, or to comply with Serbian laws for the later. Where we rely on legitimate interest, 
                    we will always balance your interests against ours.
                </h5>
                <br />
                <h5><b>6. Contacting Relevant Authorities</b></h5>
                <br />
                <h5 style="text-align: justify">
                    In case that you are unhappy with how we process your personal data,
                    you may lodge a complaint to the Serbian Commissioner for Information of Public Importance and Personal Data Protection. 
                    To visit their website and contact them click <a href="https://www.poverenik.rs/en/home.html"> here </a>.
                </h5>
                <br />
                <h5><b>11. Contact us</b></h5>
                <br />
                <h5 style="text-align: justify">You may contact us by writing to <a href="mailto:info@privacyonestop.com">info@privacyonestop.com</a></h5>
            </div>
        </div>
    </div>