
@{
    ViewData["Title"] = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top: 50px; margin-bottom: 100px">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="text text-dark">Terms & Conditions</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 80px;">
            <div class="col-md-12" style="font-family:Arial">
                <h5 style="text-align: justify;">
                    These <span><b>Terms and Conditions</b></span> govern your use of this website (“Blog”)
                    and any content herein or offered by us or sale including email and other means of communication or advertisement (“Content”).
                    Please read them carefully as they describe your rights and obligations when using the Blog. The effective date of these Terms and Conditions
                    shall be 1st March 2020.
                </h5>
                <br />
                <h5 style="text-align: justify;">
                    Owner of the Blog is PrivacyOneStop (“us”, “we”, “our”), incorporated under the laws of
                    Republic of Serbia and with a registration number 65679523 and a tax number 111812623.
                </h5>
                <br />
                <h5>
                    <b>
                        By using this website you agree that you will abide by these Terms and Conditions.
                    </b>
                </h5>
                <br />
                <h4>THE CONTENT IS PROVIDED FOR INFORMATIONAL PURPOSES ONLY, AND SHOULD NOT BE CONSIDERED AS LEGAL ADVICE.</h4>
                <br />
                <h5>
                    <b>1. The Blog</b>
                </h5>
                <br />
                <h5 style="text-align: justify">
                    This Blog is to be used for informational purposes only. We cannot guarantee accuracy or completeness of the Content.
                    You agree to use the Blog and the Content at your own risk. Nothing on this Blog shall constitute legal advice.
                    You should always seek legal advice from a person qualified to provide such advice in your jurisdiction.
                    If you choose, you may subscribe to our newsletter to receive the latest news related to privacy, the Blog and our updates.
                    Same standards apply to the email content as to this Blog. The frequency of such emails remains at our discretion.
                </h5>
                <br />
                <h5><b>2. Changes to the Terms and Conditions</b></h5>
                <br />
                <h5 style="text-align: justify">
                    We reserve the right to amend these Terms and Conditions at any time. It is your responsibility to review them before you use the Blog.
                </h5>
                <br />
                <h5><b> 3. Users</b></h5>
                <br />
                <h5 style="text-align: justify">
                    You agree that you will comply with these Terms and Conditions.
                    This Blog is intended for professional users and we will assume that you are accessing it as a business user rather than individual.
                    You warrant da you posses all relevant software to access and use the BLog and the Content
                </h5>
                <br />
                <h5><b>4. Acceptable Use</b></h5>
                <br />
                <h5 style="text-align: justify">
                    All content is owned by Us. You will not reproduce content or use it without our prior written permission for any commercial purposes.
                    If you use content for any non-commercial purposes, you must name the author, company and have a working link to the content.
                    You will not replicate, display, transmit, or use any content to build any databases or similar products and services.
                    You will not install any malwares, viruses or other malicious software on the Blog.
                </h5>
                <br />
                <h5><b>5. Privacy</b></h5>
                <br />
                <h5 style="text-align: justify">
                    Please read our privacy policy to find out how we are going to use your personal data when you use the Blog.
                </h5>
                <br />
                <h5><b> 6. Third Party Websites</b></h5>
                <br />
                <h5 style="text-align: justify">
                    The blog may contain links to third party websites and databases.
                    These links are not verified by us and we assume no liability whatsoever if you decide to use them.
                </h5>
                <br />
                <h5><b>7. Liability</b></h5>
                <br />
                <h5 style="text-align: justify">
                    In no event we will accept any liability arising from the use of the Blog and the Content.
                    We will not be liable for any loss or damage leading to the loss of revenue, opportunities, business,
                    profit or otherwise to you or any third party, reputational damage and similar.  In case that you have made any payments,
                    any liability with respect to any direct damages or otherwise arising out or related to these Terms and Conditions
                    shall not exceed the amount paid by you. You agree that you will not hold us liable for any damage arising from errors,
                    inaccurate Content any other information shared with you, or any action taken by us.
                </h5>
                <br />
                <h5><b>8. Indemnity</b></h5>
                <br />
                <h5 style="text-align: justify">
                    You agree to indemnify us and hold us harmless from any loss,
                    damage or cost incurred by you or any other third party and related to the use of the Blog or the Content.
                </h5>
                <br />
                <h5><b>9. Changes to These Terms</b></h5>
                <br />
                <h5 style="text-align: justify">
                    We may change these terms from time to time. It is your obligation to read them every time before you access our Blog and Content.
                </h5>
                <br />
                <h5><b>10. Governing Law and Jurisdiction</b></h5>
                <br />
                <h5 style="text-align: justify">
                    These Terms and Conditions shall be governed and construed by the laws of Republic of Serbia,
                    and competent courts shall be the Serbian courts. You agree that the Serbian courts shall have exclusive jurisdiction
                    in all disputes arising from the use of the Blog and the Content.
                </h5>
                <br />
                <h5><b>11. Contact us</b></h5>
                <br />
                <h5 style="text-align: justify">You may contact us by writing to <a href="mailto:info@privacyonestop.com">info@privacyonestop.com</a></h5>
            </div>
        </div>
    </div>