<div class="sidebar-section tags-area">
    <h4 class="title"><b class="light-color">Tags</b></h4>
    <ul class="tags">
        <li><a class="btn btn-outline-dark" href="#">TAGGGGG</a></li>
        <li><a class="btn btn-outline-dark" href="#">fasinon</a></li>
        <li><a class="btn btn-outline-dark" href="#">travel</a></li>
        <li><a class="btn btn-outline-dark" href="#">music</a></li>
        <li><a class="btn btn-outline-dark" href="#">video</a></li>
        <li><a class="btn btn-outline-dark" href="#">photography</a></li>
        <li><a class="btn btn-outline-dark" href="#">adventure</a></li>
    </ul>
</div>