@using AdminAssistant.Blog.Models.DomainModel
@model List<PostViewModel>

@{
    string category = "Posts";

    if (ViewBag.Category != null)
    {
        category =ViewBag.Category;
    }
}

    <div class="sidebar-section latest-post-area">
        <h4 class="title"><b class="light-color">Latest @category</b></h4>

        @if (Model.Count > 0)
        {
            int i = 0;
            foreach (PostViewModel post in Model)
            {
                if (i < 3)
                {
                    <div class="latest-post" href="#">
                        <h5><a href="/Blog/Post?title=@post.TitleFormated"><b class="light-color">@post.Title</b></a></h5>
                        <h6 class="date"><em>@post.Date.ToString("dd/MM/yyyy")</em></h6>
                    </div>
                    <hr style="width: 80%; margin-left: 0"/>
                }
                i++;
            }
        }
        else
        {
            <h5>There are currently no posts to display.</h5>
        }

    </div>