@{
    ViewData["Title"] = "Unsubscribe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container" style="margin-top: 20px">
        <h2>
            Confirmation of your newsletter unsubscription
        </h2>
        <br />
        <br />
        <h3>Sorry to see you go.</h3><br />
        <h4>You have successfully unsubscribed from our newsletter.</h4>
        <h4>Your email address has also been removed from our mailing list. You will receive no more emails from us.</h4>
    </div>

